.invisible{
    opacity: 0;
}

  .bluegaria {
    position: relative;
    text-align: center;
    color: white;
  }
.BluegariaCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
  }
h1{
    font-family: 'Courier New', Courier, monospace;
}
.first{
    transform: translate(-50,-500);
}
.always {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
}
.always:hover {
    box-shadow: 0 0 2px 1px rgba(0, 102, 255, 0.5);
  }
